%html
  %body
    %h1 Naloži specifikacijo Si.mobil računa
    %form(method="post" enctype='multipart/form-data' action='show')
      %input(type='file' name='bill')
      %br
      %input(type='submit' value='Naloži!')
